<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="outputPath" value="C:\Users\sches_000\Documents\WS\output"/>
    <add key="settingsFile" value="C:\Users\sches_000\Documents\WS\settings.json"/>
    <add key="statusesFile" value="C:\Users\sches_000\Documents\WS\statuses.txt"/>
  </appSettings>
</configuration>
